* {
  font-family: "IBM Plex Sans KR";
}



body {
  
  margin: 0;
  
}


/* HEADER */

.header {
  display: flex; 
  justify-content: space-between;
}

#title {
  font-size: 55px;
  font-weight: 1000;
  color: #13284E;
  display: flex;
  margin: 10px 30px;
  padding-top: 12px;
}

#header-button {
  display: flex;
  position: absolute;
  right: 100px;

}

#header-button a {
  text-decoration: none;
}


#header-button a {
  margin: 50px 10px;
  height: 30px;
  font-size: 20px;
  color:#324465;
}


#header-button a:hover {
  height: 30px;
  font-size: larger;
  color: #000000;
}


#header-button a:visited {
  text-decoration: none;
}


hr {
  height: 5px;
  border: none;
  background-color: #9BA4B5;
  margin-bottom: 45px;
}

/* MAIN-CONTENT */

.main-content {
  background-color: #9BA4B54D;
  width: 100%;
  height: 500px;
  overflow: hidden;
  
}


.main-content a {
  text-decoration: none;
  color: black;
 
}



#search-container {
  border: solid black 2px;
  border-radius: 20px;
  background-color: white;
  max-width: 800px;
  height: 100px;
  display: flex;
  margin: 50px auto; 
  
}

#search-icon {
  width: 60px;
  height: 50%;
  margin: 25px;

}

input {
  border: none;

  margin: 10px;
  font-size: 30px;
  color: #8D8B8B;
  width:500px;
}


.searchButton {
  width: 30px;
  height: 30%;
  border-radius:20px;
}

/* MAIN-CONTENT - icons */

.icons {
  display: flex;
  justify-content: center;
}

.icon {
  text-align: center;
  font-size: 20px;
}

.icons img {
  height: 150px;
  width: 150px;
  padding: 20px;
  display: block; 
}



/* EXTRA-INFO */

.extra-info {
  margin: 20px;
  display: flex;
  
 
}

.extra-container{
  width: 100%;
  height: 100%;
}


.extra-info div {
  display: block;

}

.extra-info p, img {
  align-items: center;

}

.info-box {
  border: solid black 2px;
  border-radius: 10px;
  height: 350px;
  width: 100%;
}


.vertical-line {
  border-left: 2px solid #000; /* 세로 선 스타일 및 색상 */
  height: 400px; /* 세로 선의 높이 */
  margin: 30px;
}

.extra-icon {
  height: 30px;
  vertical-align: middle;
}