
* {
  font-family: "IBM Plex Sans KR";
  
}

/* curri css */


.curri { /*네모박스*/
  width: 1135px;
  height:900px;
  background-color: #E1E5E9;
  border: 3px solid #9BA4B5;
  border-radius: 20px;
  margin-left: 240px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  position: absolute;
  top: 250px;
}

 b {
  color: #13284E;
  text-decoration: none;
  display: inline;
  box-shadow: inset 0 -10px 0 #FFDED5;
}


.subject {
  background-color: white;
  height:600px;
  width: 500px;
  border-radius:10px;
  margin:25px;
  box-sizing:border-box;
  overflow:auto;
  padding: 15px;
}

.subject>p{
  text-align: center;
  font-size:30px;
  margin-bottom:30px;
  font-weight: bold;
}

.sub_ex{
  font-size:22px;
  margin:10px 50px 25px 50px;
  line-height:2;
}

.sub_ex span{
  font-size:27px;
  font-weight: bold;
}





/* nav css */

* {
  font-family: "IBM Plex Sans KR";
  
}

body {
  width: fit-content;
  height: fit-content;
}

#nav-container {
  display: flex;
  height: 130px;
}

#logo {
  color: #13284E;
  display: inline-block;
  font-size: 40px;
  font-weight: 1000;
  line-height: 35px; 
  margin: 25px 60px;
  vertical-align:top;
  height: 80px;
}

#nav {
  text-align: left;
  display:flex;
  vertical-align: top;
}

#nav ul {
  display: flex;
  list-style: none;
  height: 100px
}


#nav ul li {
  display: flex;
  font-size: 25px;
  margin: 40px;
  font-weight: 540;
  align-items: center; 
  white-space: nowrap;
}

#nav-icon-container {
  display: flex;
  width: fit-content;
  height: 90px;
  margin-top: 10px;
  margin-left: 40px;
}


.nav-icon {
  width: 70px;
  margin: 10px;
}

hr {
  height: 5px;
  width: 1410px;
  border: none;
  background-color: #9BA4B5;
  margin-bottom: 25px;
}

/*상단메뉴-링크클릭설정*/

a{
  text-decoration:none;
  color:black;
}

a:visited{
  color:black;
}

a:hover{
  color:#324465;
  font-weight : 1000;
}

a:active{
  color:#324465;
  font-weight : 1000;
}



.vertical-nav{
  float: left;
  width: 200px;
  height: 100%;
  color: black;
  padding-left: 30px;
  margin: 0;
}

.vertical-nav p {
  font-weight: bold;
  font-size:30px;
  margin-left: 10px;
}

.vertical-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.group-title {
  font-size: 25px;
  padding: 10px;

}

.vnav-group {
  margin-bottom: 40px;

}

.vnav-content {
  font-size: 20px;
  padding: 5px;
  margin-left: 15px;
}

.vertical-nav a {
  text-decoration: none;
  color: black;
}

.vertical-nav a:hover {
  font-weight: bold;
}

.vertical-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px; /* 선의 너비 조절 */
  height: 100%;
  background-color: #9BA4B5; /* 선의 색상 설정 */
  margin-left: -5px; /* 조절된 여백 값 */
}

.vertical-nav ul li.grade{
  font-size:20px;
  padding-left:19.5px;
}


#vertical-line {
  border-left: 2px solid black; 
  height: 800px;
  position: absolute;
  top: 340px;
  left: 230px;
}