

h1 {
	padding-left : 50px;
}

#addBtn {
  position: absolute;  
  border: none;
  display: flex;
  border-radius: 30px;
  padding-left: 30px;
  padding-top: 10px;
  width: 165px;
  height: 50px;
  top: 200px; 
  right: 60px;
  font-size: 20px;
  background-color: #324465;
  color: white;
}


#map-container {
	border: 3px solid #324465;
	margin: 50px;
	display: flex;
	
}

#map-date{
	width:100px;
	text-align: center;
	padding:15px 30px;
}

#map-content {
	padding: 10px;
	width:400px;
	overflow-wrap: break-word;
	white-space: pre-line;
}

.map-content {
	margin:20px;
	display:flex;
	
}

#modify, #delete{
	background-color: #324465;
	width: 30px;
	height: 30px;
	color: white;
	padding:10px 30px;
	margin:20px;
	border-radius:10px;
	position:relative;
	top:20px;
	left:200px;
}

#title{
	padding:15px 30px;
	width:100px;
}



#mapTitle {
	border: 3px solid #324465;
	border-radius: 10px;
	width: 1000px;
	height: 70px;
	margin:10px 200px;
	
}

#mapContent{
	border: 3px solid #324465;
	border-radius: 10px;
	width: 1000px;
	height: 200px;
	margin:0 200px;
}

label {
	font-size:30px;
	padding-left:200px;
	
	
}

#button {
position: absolute;  
  border: none;
  display: flex;
  border-radius: 30px;
  padding-left: 45px;
  padding-top: 5px;
  width: 165px;
  height: 50px;
  top: 200px; 
  right: 260px;
  font-size: 20px;
  background-color: #324465;
  color: white;
  }
 


/* nav css */

* {
  font-family: "IBM Plex Sans KR";
  
}

body {
  width: fit-content;
  height: fit-content;
}

#nav-container {
  display: flex;
  height: 130px;
}

#logo {
  color: #13284E;
  display: inline-block;
  font-size: 40px;
  font-weight: 1000;
  line-height: 35px; 
  margin: 25px 60px;
  vertical-align:top;
  height: 80px;
}

#nav {
  text-align: left;
  display:flex;
  vertical-align: top;
}

#nav ul {
  display: flex;
  list-style: none;
  height: 100px
}


#nav ul li {
  display: flex;
  font-size: 25px;
  margin: 40px;
  font-weight: 540;
  align-items: center; 
  white-space: nowrap;
}

#nav-icon-container {
  display: flex;
  width: fit-content;
  height: 90px;
  margin-top: 10px;
  margin-left: 40px;
}


.nav-icon {
  width: 70px;
  margin: 10px;
}

hr {
  height: 5px;
  width: 1410px;
  border: none;
  background-color: #9BA4B5;
  margin-bottom: 25px;
}

/*상단메뉴-링크클릭설정*/

a{
  text-decoration:none;
  color:black;
}

a:visited{
  color:black;
}

a:hover{
  color:#324465;
  font-weight : 1000;
}

a:active{
  color:#324465;
  font-weight : 1000;
}
